TOKEN = "" # Discord bot token from discord developers portal.
DBNAME = "" # Database name for the bot to use.
USERNME = "" # Database username for the bot to use.
PASSWORD = "" # Database password for the bot to use.
HOST = "" # Database host for the bot to use. E.g. localhost, IP address, or domain name.
PORT = "" # Database port for the bot to use.
TEST_DBNAME = "" # Test database name for the bot to use. (currently setup in the code distributed with the bot)
TEST_TOKEN = "" # Test token for the bot to use. (currently setup in the code distributed with the bot)
TEST_TOKEN2 = "" # Another test token for the bot to use. (currently setup in the code distributed with the bot)
PATRIOT_ROLE_ID = "" # Role ID for the default role in the server.
OWNER_ID = "" #Input your user ID here.